{% extends "base.html" %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
<div class="container">
<h1>Edit Profile</h1>

<strong>Your current profile picture:</strong>
{% if photo_url %}
  <img src="{{ photo_url }}"/>
{% else %}
  <img src="http://placekitten.com/g/200/200"/>
{% endif %}

{% from "_formhelpers.html" import render_field %}

<form action="" method="post" name="profile" enctype="multipart/form-data" class="col-md-8">
  {{ form.hidden_tag() }}

    {{ render_field(form.photo, class="form-control col-md-4") }}
    {{ render_field(form.school, class="form-control col-md-4") }}
    {{ render_field(form.year, class="form-control col-md-4") }}
    {{ render_field(form.major, class="form-control") }}
    {{ render_field(form.about, class="form-control") }}
    {{ render_field(form.likes, class="form-control") }}
    {{ render_field(form.contactfor, class="form-control")  }}

  <input type="submit" value="Update" class="btn btn-block btn-lg btn-info btn-fill">
</form>
</div>
{% endblock %}
