{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

{% block body %}
{% block content %}
    {% for error in form.email.errors %}
    <div class="alert alert-danger">
      <div class="container">[{{ error }}]</div></div>
    {% endfor %}

        {% for error in form.password.errors %}
        <div class="alert alert-danger">
          <div class="container">[{{ error }}]</div></div>
    {% endfor %}
    {% endblock %}

    <body style="background-image: url('{{ url_for('static',filename='assets/img/butler.jpg') }}'); background-size: cover">
<form class=action method="post" name="login" >
      {{ form.hidden_tag() }}
      <div class = "container text-center" style="padding-top:20%">
        <div>
        <h1 style="color: white; font-weight: bold;">Coffee@CU</h1>
      </div>
      <div class="col-md-4 col-md-offset-4  text-center">
        {{ form.email (placeholder="Email", class="form-control", )}}<br>
      </div>
      <div class="col-md-4 col-md-offset-4  text-center">
        {{ form.password (placeholder="Password", class="form-control") }}<br>
      </div>
        <div style="align:center width:150px margin:0 auto">
          <div class="col-md-4 col-md-offset-4  text-center">

          <button class="btn btn-block btn-lg btn-info btn-fill" type="submit" value="Sign in">Log In</button>
          <a href="/resetpassword">Forgot Password</a>
        </div>


      </div>
    </div>
  </form></body>

{% endblock %}
