{% extends "base.html" %}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.5/js/bootstrap-dialog.min.js"></script>
<head>
<style>
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

</style>
</head>


{% block body %}
<div class="container">
<h1>{{ viewed_user['firstname'] }} {{ viewed_user['lastname'] }}</h1>

<h2>{{ profile['year'] }} / {{ profile['school'] }} / {{ profile['major'] }}</h2>

<p>
<h4>Tell the world a little bit more about yourself.</h4>
{{ profile['about'] }}
</p>

<p>
<h4>What do you like?</h4>
{{ profile['likes'] }}
</p>

<p>
<h4>What are some things people should contact you for?</h4>
{{ profile['contactfor'] }}
</p>

<div>
  <p><strong>Facebook: </strong>{{ profile['facebook'] }}</p>
  <p><strong>Twitter: </strong>{{ profile['twitter'] }}</p>
  <p><strong>LinkedIn: </strong>{{ profile['linkedin'] }}</p>
  <p><strong>Website: </strong>{{ profile['website'] }}</p>
</div>
<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#messageBox">
  Send a Message
</button>

<!-- Modal -->
<div class="modal fade" id="messageBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Send an Email</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
            <form action="{{ url_for('user', uid = viewed_user['uid']) }}" method=post>

                  {{ form.message.label }}
                  {{ form.message(class="form-control")}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <div class="divider"></div>
        {{ form.submit(class="btn btn-info btn-simple") }}

  </form>
      </div>
    </div>
  </div>
</div>


</div>

<!--    end modal -->
                {% endblock %}
            </div>

        </div>
    </div>
</div>
